## Sets
A Set is an unordered collection data type that is iterbale , mutable and has no duplicate elements .Python's set class represents the mathamatical notion of a set . This is basic on a data structure known as has table .

In [1]:
## Defining an empty set 
set_var = set()
print(set_var)
print(type(set_var))

set()
<class 'set'>

In [2]:
set_var={1,2,3,4,3} ## It combines duplicate values

In [3]:
set_var

{1, 2, 3, 4}

In [6]:
set_var={"Avengers","IronMan","Hitman"}
print(set_var)
type(set_var)

{'IronMan', 'Hitman', 'Avengers'}

set

In [7]:
## Inbuild function to add a nee element in a set 
set_var.add("Hulk")

In [8]:
print (set_var)

{'IronMan', 'Hitman', 'Hulk', 'Avengers'}

In [19]:
set1={"Avengers","IronMan","Hitman"}
set2={"Avengers","IronMan","Hitman","Hulk2"}

In [20]:
set2.intersection(set1)

{'Avengers', 'Hitman', 'IronMan'}

In [13]:
## Differnce in between two sets 
set2.difference(set1)

{'Hulk2'}

In [15]:
## Difference update

set2.difference_update(set1)

In [16]:
print(set2)

{'Hulk2'}

# Dictionaries 
A dictionary is  a collection which is unordered , changeable and indexed .In Python dictionaries are written in curly brakcets, and they have keys and values .

In [21]:
dic={}

In [22]:
type(dic)

dict

In [23]:
dic={1,2,3,4,5}

In [24]:
type(dic)

set

In [25]:
## Let us create a dictioanry 
my_dict={"Car1":"Audi","Car2":"BMW","Car3":"Mercidies Benz"}

In [26]:
type(my_dict)

dict

In [27]:
## Access the item values based on keys
my_dict["Car1"]

'Audi'

In [28]:
my_dict["Car2"]

'BMW'

In [29]:
my_dict["Car3"]

'Mercidies Benz'

In [30]:
## We can even loop throught the dictionaries keys 
for x in my_dict:
    print(x)

Car1
Car2
Car3

In [32]:
## We can even loop throught the dictionary values 
for x in my_dict.values():
    print(x)

Audi
BMW
Mercidies Benz

In [33]:
## We can also traverse through both keys and values 
for x in my_dict.items():
    print(x)

('Car1', 'Audi')
('Car2', 'BMW')
('Car3', 'Mercidies Benz')

In [35]:
## Adding items in Dictionaries 
my_dict['Car4']="Audi 2.0"

In [36]:
my_dict

{'Car1': 'Audi', 'Car2': 'BMW', 'Car3': 'Mercidies Benz', 'Car4': 'Audi 2.0'}

# Nested Dictionary

In [38]:
car1_modal={'Mercedes':1960}
car2_modal={'Audi':1970}
car3_modal={'Ambassador':1980}

car_type={'car1':car1_modal,'car2':car2_modal,'car3':car3_modal,}

In [39]:
print(car_type)

{'car1': {'Mercedes': 1960}, 'car2': {'Audi': 1970}, 'car3': {'Ambassador': 1980}}

In [40]:
## Accessing the items in the dictionary 
print(car_type['car1'])

{'Mercedes': 1960}

In [42]:
print(car_type['car1']['Mercedes'])

1960

# Tuple
A tuple is a collection which is ordered and unchangeable. In Python tuples are written with round brackets.It does not support an item assignment

In [43]:
## Create an empty Tuple
my_tuple=tuple()

In [44]:
type(my_tuple)

tuple

In [45]:
my_tuple=()

In [47]:
my_tuple=("Sartaj","Nasir","John")

In [48]:
my_tuple[0]

'Sartaj'

In [49]:
##Inbuilt function 
my_tuple.count('Sartaj')

1

In [50]:
my_tuple.index('Sartaj')

0