# Python Data Structures and Boolean

- Boolean
- Boolean And Logical Operators 
- Lists
- Comparision Operators
- Dictionaries 
- Tuples 
- Sets

## Boolean Variables 
Boolean Variables are the two constant objects False and True.
They are used to represent truth values (other values can be considered flase or true)
In numeric contexts they behave like the integers 0 and 1 , respectively 
The build in function bool() can be used to cast any value to a boolean

In [6]:
bool()

False

In [7]:
print(True,False)

True False

In [8]:
type(True)

bool

In [9]:
type(False)

bool

In [10]:
my_str="Sartaj Hajam"

In [12]:
print(my_str.isalnum()) #checks if all the elements are alphabets and number 
print(my_str.isalpha()) # checks if all charcters are alphabets 
print(my_str.isdigit()) #checks if string contains title words
print(my_str.istitle()) #test if string contains title words 
print(my_str.isupper()) # tests if string cotains uppar case 
print(my_str.islower()) # tests if string contains lower case 
print(my_str.isspace()) #tests if string contains spaces
print(my_str.endswith('m')) #tests if string ends with h 
print(my_str.startswith('S')) #test if string starts with S

False
False
False
True
False
False
False
True
True

## Boolean and Logical Operators

In [13]:
True and True

True

In [15]:
True and False

False

In [16]:
False and False

False

In [17]:
False and True

False

In [18]:
True or True

True

In [19]:
True or False

True

In [20]:
False or True

True

In [21]:
False or False

False

In [22]:
str_example="Hello World"

In [23]:
my_str = " Sartaj "

In [26]:
my_str.isalpha() or str_example.isalnum()

False

## Lists

In [28]:
#A list is a datastructure in Python that is mutable or changebale, ordered sequence of elements .Each element or value thta is inside of a lit
#is called an item .Just as strings are defined as charcaters between qoutes , lists are defined by 
#having values between square brackets []

In [29]:
type([])

list

In [30]:
list_example= ['Math','Chemistry','Biology',100 , 400, 500 ,]

In [31]:
list_example

['Math', 'Chemistry', 'Biology', 100, 400, 500]

In [32]:
len(list_example)

6

In [33]:
type(list_example)

list

# Operations On Lists

## Append

In [34]:
#.append is used to add elements in the list 
list_example.append("Psychology")

In [35]:
list_example

['Math', 'Chemistry', 'Biology', 100, 400, 500, 'Psychology']

In [38]:
## Indexing in list 
list_example[0]
list_example[1]

'Chemistry'

In [39]:
list_example[1:]

['Chemistry', 'Biology', 100, 400, 500, 'Psychology']

In [40]:
list_example[1:6]

['Chemistry', 'Biology', 100, 400, 500]

## Insert

In [36]:
# Insert in a specific order

In [41]:
list_example.insert(1,"Programming")

In [42]:
list_example

['Math', 'Programming', 'Chemistry', 'Biology', 100, 400, 500, 'Psychology']

In [43]:
list_example.insert(5,"Discrete Maths")

In [44]:
list_example

['Math',
 'Programming',
 'Chemistry',
 'Biology',
 100,
 'Discrete Maths',
 400,
 500,
 'Psychology']

## Extend  Method

In [45]:
##The  methods extends the existing list by allowing us to add new elements

In [46]:
lst=[1,2,3,4,5,6]

In [48]:
lst.extend([7,8])

In [50]:
lst

[1, 2, 3, 4, 5, 6, 7, 8]

## Various Operations that we can perform on Lists

In [51]:
lst =[1,2,3,4,5,6]

In [53]:
sum(lst) ## adds all the elements and gives us a sum

21

## Pop() Method

In [54]:
lst.pop() ## Removes the last element

6

In [55]:
lst

[1, 2, 3, 4, 5]

In [56]:
lst.pop(0) ## removes the element at index 0

1

In [57]:
lst

[2, 3, 4, 5]

## Count() : calculates total occurence of a given element of list

In [59]:
lst=[1,1,2,3,4,5 , 1]
lst.count(1)

3

In [60]:
#Length: Calculates total length of a list 
len(lst)

7

In [62]:
#index() :- returns the index of first occurrence .Start and End index are not necessary parameters .
lst.index(1,1,4)

1

In [64]:
## Min and Max
min(lst)

1

In [65]:
max(lst)

5